---
/**
 * Types and interfaces.
 */
 export interface Props {
	class?: string;
	title: string;
}

/**
 * Imports.
 */

// Components.
import Header from "./templates/Header.astro";
import Footer from "./templates/Footer.astro";

// Styles.
import "modern-normalize/modern-normalize.css";
import "@syntatis/kubrick/scss/preview.scss";
import "@syntatis/kubrick/scss/base.scss";
import "../styles/variables.scss";
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{Astro.props.title}</title>
	</head>
	<body id="wp" class:list={["grid h-full grid-rows-layout-1 text-gray-900", Astro.props.class ?? '']}>
		<Header class="wp-core-ui h-max" />
		<slot />
		<Footer />
	</body>
</html>
