---
import type { Props } from "@astrojs/starlight/props";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
---

<div class="flex items-center justify-between h-full">
	<div class="flex gap-7 items-center w-3/4 h-full">
		<a class="block" href="/">
			<span class="sr-only">Kubrick UI</span>
			<!-- Logo -->
			<svg
				xmlns="http://www.w3.org/2000/svg"
				style="color: var(--sl-icon-color)"
				class="h-auto w-[70px] block"
				viewBox="0 0 500 87"
				>
				<path fill="currentColor" d="M448.517 86.688h-17.145V.013h17.145V43.35l31.9-43.337h19.474L472.83 36.58l27.06 50.106h-19.474L461.6 51.632l-13.082 17.71Zm-27.061-10.494a43.838 43.838 0 0 1-13.381 7.727 44.595 44.595 0 0 1-15.353 2.692c-4.062 0-7.975-.517-11.738-1.55a44.938 44.938 0 0 1-10.574-4.391 44.611 44.611 0 0 1-8.99-6.82 43.94 43.94 0 0 1-6.96-8.81 43.086 43.086 0 0 1-4.48-10.36c-1.055-3.688-1.583-7.522-1.583-11.502 0-3.98.528-7.825 1.583-11.532a42.96 42.96 0 0 1 4.48-10.39 43.94 43.94 0 0 1 6.96-8.81 44.611 44.611 0 0 1 8.99-6.82 44.939 44.939 0 0 1 10.574-4.39c3.763-1.033 7.676-1.55 11.738-1.55 5.297 0 10.414.887 15.353 2.663a42.755 42.755 0 0 1 13.38 7.756l-9.08 14.634c-2.508-2.654-5.475-4.693-8.9-6.117a27.729 27.729 0 0 0-10.753-2.137c-3.783 0-7.328.703-10.633 2.108-3.305 1.404-6.193 3.307-8.662 5.707-2.47 2.4-4.42 5.23-5.854 8.488-1.434 3.258-2.15 6.721-2.15 10.39 0 3.668.716 7.112 2.15 10.331 1.434 3.22 3.385 6.04 5.854 8.459 2.47 2.42 5.357 4.331 8.662 5.736 3.305 1.405 6.85 2.108 10.633 2.108 3.744 0 7.328-.713 10.753-2.137s6.392-3.463 8.9-6.117Zm-84.29 10.493h-17.144V.014h17.145ZM257.419 17.36v34.694h17.144c2.35 0 4.56-.453 6.63-1.36a17.345 17.345 0 0 0 5.437-3.717c1.553-1.571 2.778-3.415 3.674-5.53.896-2.116 1.344-4.362 1.344-6.74 0-2.377-.448-4.623-1.344-6.739-.896-2.115-2.12-3.959-3.674-5.53a17.345 17.345 0 0 0-5.436-3.718c-2.071-.906-4.281-1.36-6.63-1.36Zm0 69.328h-17.145V.013h34.29c3.145 0 6.172.413 9.08 1.239a33.865 33.865 0 0 1 8.153 3.505 34.82 34.82 0 0 1 6.93 5.44 34.746 34.746 0 0 1 5.376 7.042 35.272 35.272 0 0 1 3.465 8.28c.816 2.942 1.224 6.004 1.224 9.187 0 2.982-.368 5.883-1.105 8.704a35.87 35.87 0 0 1-3.166 8.039 33.923 33.923 0 0 1-5.048 7.011 34.263 34.263 0 0 1-6.69 5.56l9.498 22.666h-18.22l-7.467-17.467-19.175.12Zm-30.108-25.99c0 3.586-.677 6.95-2.031 10.093s-3.196 5.893-5.526 8.25c-2.33 2.358-5.048 4.221-8.154 5.591s-6.432 2.055-9.976 2.055h-42.832V.014h42.832c3.544 0 6.87.685 9.976 2.055 3.106 1.37 5.824 3.233 8.154 5.59 2.33 2.358 4.172 5.108 5.526 8.25 1.354 3.144 2.031 6.508 2.031 10.095 0 1.611-.22 3.264-.657 4.956a24.231 24.231 0 0 1-1.852 4.896 21.138 21.138 0 0 1-2.867 4.291c-1.115 1.29-2.35 2.357-3.704 3.204 1.394.765 2.648 1.803 3.763 3.112a21.93 21.93 0 0 1 2.868 4.322 22.85 22.85 0 0 1 1.822 4.926c.418 1.712.627 3.375.627 4.986Zm-51.374 8.643h25.687a8.41 8.41 0 0 0 3.345-.665 8.466 8.466 0 0 0 2.718-1.844 8.578 8.578 0 0 0 1.822-2.75 8.685 8.685 0 0 0 .657-3.385 8.685 8.685 0 0 0-.657-3.384 8.578 8.578 0 0 0-1.822-2.75 8.466 8.466 0 0 0-2.718-1.844 8.41 8.41 0 0 0-3.345-.665h-25.687Zm0-34.634h25.687a8.41 8.41 0 0 0 3.345-.665 8.466 8.466 0 0 0 2.718-1.843 8.495 8.495 0 0 0 1.822-2.78 8.909 8.909 0 0 0 .657-3.415 8.685 8.685 0 0 0-.657-3.385 8.578 8.578 0 0 0-1.822-2.75 8.466 8.466 0 0 0-2.718-1.844 8.41 8.41 0 0 0-3.345-.665h-25.687Zm-32.02 17.347c0 4.795-.895 9.298-2.687 13.509-1.792 4.21-4.242 7.878-7.348 11-3.106 3.123-6.74 5.591-10.902 7.405-4.162 1.813-8.612 2.72-13.351 2.72-4.74 0-9.19-.907-13.351-2.72-4.162-1.814-7.786-4.282-10.873-7.405-3.086-3.122-5.525-6.79-7.317-11-1.793-4.21-2.689-8.714-2.689-13.509V.014h17.085v52.04c0 2.378.448 4.614 1.344 6.71a17.571 17.571 0 0 0 3.674 5.5 17.251 17.251 0 0 0 5.466 3.717c2.09.906 4.311 1.36 6.66 1.36 2.35 0 4.57-.454 6.661-1.36a17.251 17.251 0 0 0 5.466-3.718 17.571 17.571 0 0 0 3.674-5.5c.896-2.095 1.344-4.331 1.344-6.709V.014h17.145ZM17.037 86.687H-.11V.014h17.144V43.35L48.935.014h19.474L41.35 36.58l27.06 50.106H48.935L30.118 51.632l-13.083 17.71Z"/>
			</svg>
		</a>
	</div>
	<div class="flex gap-4 items-center justify-end w-1/4">
		<div id="social-icons" class="flex gap-4">
			<SocialIcons {...Astro.props} />
		</div>
	</div>
</div>
<style>
#social-icons {
	font-size: 16px;
}
</style>
