---
/**
 * Types.
 */
export interface Props {
	component: string;
	prefix: string;
	items: {
		selector: string;
		description: string;
	}[];
}

/**
 * Constants, and Variables.
 */
const { items, component, prefix } = Astro.props;
---

<p>The <code>{component}</code> component has static classes, prefixed with <code>.{prefix}</code>. You can use these static classes to select and customize the component and its elements.</p>

<table class="classes-table">
	<thead>
		<tr>
			<th>Selector</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{items.map((item) => (
			<tr>
				<td><code>{item.selector}</code></td>
				<td>{item.description}</td>
			</tr>
		))}
	</tbody>
</table>
<style>
.classes-table th:first-child, {
	width: 25%;
}

.classes-table td code {
	color: rgb(34, 113, 136);
	background-color: rgba(34, 113, 136, 0.05);
}
</style>
