---
export interface Props {
	codesandbox?: string;
	github?: string;
	storybook?: string;
}

/**
 * Imports.
 */
import Storybook from './Storybook.astro';

/**
 * Constants, and Variables.
 */
const { storybook } = Astro.props;
---

<div class="not-content">
	<ul class="list-none p-0 mt-10">
		{storybook && <li class="flex"><Storybook path={storybook} /></li>}
	</ul>
</div>
