@use '../../scss/variables/colors';

@mixin styles-input() {
	.inputWrapper {
		display: flex;
		gap: 6px;
		align-items: center;
	}

	.input[type="number"] {
		padding-right: 0;
	}

	&.invalid {
		.input {
			border-color: var(--kubrick-invalid-color);
			outline-width: 1px;
			outline-color: var(--kubrick-invalid-color);
		}
	}
}

@mixin styles-label() {
	.label {
		display: inline-block;
		grid-row: 1 / 2;
		width: max-content;
		margin-block-end: 6px;
		font-weight: 600;
		cursor: pointer;
	}

	.markedRequired {
		margin-inline-start: 0.25rem;
		color: var(--kubrick-invalid-color);
	}

	&[aria-disabled="true"] {
		.label {
			cursor: not-allowed;
		}
	}

	&.descriptionBeforeInput {
		.label {
			margin-block-end: 0;
		}
	}
}

@mixin styles-description() {
	.description {
		grid-row: 4 / 5;
		margin-block: 6px 0;
		color: colors.$input-description;
	}

	&.descriptionBeforeInput {
		.description {
			grid-row: 2 / 3;
			margin-block: 0 6px;
		}
	}
}

@mixin styles-error-message() {
	.errorMessage {
		grid-row: 3 / 4;
		margin-block: 6px 0;
		color: colors.$input-invalid;

		p {
			margin-block: 0 2px;
		}
	}
}

@mixin styles() {
	display: grid;
	grid-template-rows: max-content max-content 1fr max-content max-content;
	grid-template-columns: auto;

	@include styles-input;
	@include styles-label;
	@include styles-description;
	@include styles-error-message;
}
