@use './variables/colors' as colors;

/**
 * Ideally these colors color schemes should be pulled inherited directly from the WordPress color scheme files.
 * However, WordPress Sass files isn't designed for reusability due to the way it imports the entire `_admin`
 * file.
 */

:root {
	// Gray.
	--kubrick-gray-10: colors.$gray-10;
	--kubrick-gray-50: colors.$gray-50;
	--kubrick-gray-100: colors.$gray-100;
	--kubrick-gray-200: colors.$gray-200;
	--kubrick-gray-300: colors.$gray-300;
	--kubrick-gray-400: colors.$gray-400;
	--kubrick-gray-500: colors.$gray-500;
	--kubrick-gray-600: colors.$gray-600;
	--kubrick-gray-700: colors.$gray-700;
	--kubrick-gray-800: colors.$gray-800;
	--kubrick-gray-900: colors.$gray-900;
	--kubrick-gray-950: colors.$gray-950;

	// Blue.
	--kubrick-blue-10 : colors.$blue-10;
	--kubrick-blue-50 : colors.$blue-50;
	--kubrick-blue-100 : colors.$blue-100;
	--kubrick-blue-200 : colors.$blue-200;
	--kubrick-blue-300 : colors.$blue-300;
	--kubrick-blue-400 : colors.$blue-400;
	--kubrick-blue-500 : colors.$blue-500;
	--kubrick-blue-600 : colors.$blue-600;
	--kubrick-blue-700 : colors.$blue-700;
	--kubrick-blue-800 : colors.$blue-800;
	--kubrick-blue-900 : colors.$blue-900;
	--kubrick-blue-950 : colors.$blue-950;

	// Red.
	--kubrick-red-10: $red-10;
	--kubrick-red-50: $red-50;
	--kubrick-red-100: $red-100;
	--kubrick-red-200: $red-200;
	--kubrick-red-300: $red-300;
	--kubrick-red-400: $red-400;
	--kubrick-red-500: $red-500;
	--kubrick-red-600: $red-600;
	--kubrick-red-700: $red-700;
	--kubrick-red-800: $red-800;
	--kubrick-red-900: $red-900;
	--kubrick-red-950: $red-950;

	// WordPress Accents.
	--kubrick-accent-color: #{colors.$accent};
	--kubrick-body-background-color: #{colors.$page-bg};
	--kubrick-outline-color: var(--kubrick-accent-color);
}

.admin-color-blue {
	--kubrick-accent-color: #096484;
}

.admin-color-coffee {
	--kubrick-accent-color: #c7a589;
}

.admin-color-ectoplasm {
	--kubrick-accent-color: #a3b745;
}

.admin-color-midnight {
	--kubrick-accent-color: #e14d43;
}

.admin-color-ocean {
	--kubrick-accent-color: #9ebaa0;
}

.admin-color-sunrise {
	--kubrick-accent-color: #dd823b;
}

.admin-color-modern {
	--kubrick-accent-color: #3858e9;
}

.admin-color-light {
	--kubrick-accent-color: #04a4cc;
	--kubrick-body-background-color: #f5f5f5;

	body {
		background-color: var(--kubrick-body-background-color);
	}
}
