---
import Features from "./templates/Features.astro";
import Hero from "./templates/Hero.astro";
import Notice from "./templates/Notice.astro";
---

<main
	class="wp-core-ui relative isolate max-w-screen-lg mx-auto grid place-content-center"
>
	<div
		class="flex flex-col items-center text-center gap-4 py-6 px-4 sm:pb-24 sm:px-12"
	>
		<Notice />
		<Hero />
	</div>
	<Features />
</main>
