/* stylelint-disable selector-pseudo-element-colon-notation */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */

/**
 * Pagefind.
 */
 #starlight {
	&__search {
		--pagefind-ui-background: var(--sl-color-white);
		--pagefind-ui-primary: var(--sl-color-accent-light);
		--pagefind-ui-text: var(--sl-color-text);
		--pagefind-ui-border: var(--sl-color-gray-2);
		--pagefind-ui-border-width: 1px;

		mark {
			color: var(--sl-color-text);
			background-color: var(--sl-color-yellow-low);
		}

		.pagefind-ui {
			&__form:before,
			&__search-input,
			&__result-link,
			&__result-title {
				--pagefind-ui-text: var(--sl-color-text);
			}

			&__search-clear:before {
				background-color: var(--sl-color-gray-4);
			}

			&__search-input {
				color: var(--pagefind-ui-text);

				&:focus-visible {
					outline-color: var(--sl-color-accent);
				}
			}

			&__result-title,
			&__result-nested {
				background-color: var(--sl-color-white);
			}
		}
	}
 }
