@use '../../../packages/kubrick/scss/variables/colors' as colors;
@use './styles';

.page {
	// ================================================
	// Content
	// ================================================

	.sl-markdown-content {
		a:not(:where(.not-content *)):hover {
			color: var(--sl-color-accent-high);
		}

		code:not(:where(.not-content *)) {
			--sl-color-bg-inline-code: var(--sl-color-gray-1);

			border-radius: var(--border-radius-sm);
		}

		table {
			display: table;
			width: 100%;
			border: 1px solid var(--sl-color-gray-2);
			/* stylelint-disable-next-line alpha-value-notation, color-function-notation */
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

			thead {
				background-color: var(--sl-color-gray-1);
			}

			th,
			th:not(:where(.not-content *)) {
				color: var(--sl-color-text);
				background-color: var(--sl-color-gray-1);
			}

			th,
			td {
				padding: 0.85rem;
			}

			&:not(:where(.not-content *)) {
				overflow: hidden;
			}

			:is(th, td):not(:where(.not-content *)) {
				border-bottom: 1px solid var(--sl-color-gray-2);
			}

			:is(tr:last-child td) {
				border-bottom: 0;
			}
		}
	}

	.content-panel {
		border-top: 0;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--sl-color-text);
		}
	}

	// ================================================
	// Header
	// ================================================

	.header {
		--sl-icon-color: var(--sl-color-white);

		site-search {
			button[data-open-modal] {
				background-color: var(--sl-color-gray-7);
				border: none;
				border-radius: var(--border-radius-md);

				&:hover {
					background-color: var(--sl-color-gray-6);
				}

				> kbd {
					color: var(--sl-color-text);
					background-color: var(--sl-color-gray-2);
				}
			}
		}
	}

	dialog {
		background-color: var(--sl-color-gray-1);
		border: 0;
		border-radius: var(--border-radius-md);
	}

	// ================================================
	// Sidebar
	// ================================================

	.sidebar {
		ul ul li {
			border-inline-start: 1px solid var(--sl-color-gray-2);
		}

		a,
		a:hover,
		a:focus {
			color: var(--sl-color-gray-6);
		}

		.large {
			color: var(--sl-color-black);
		}

		.sidebar-pane {
			padding-block-start: 2rem;
			background-color: transparent;
			border-inline-end: 0;
		}

		[aria-current="page"],
		[aria-current="page"]:hover,
		[aria-current="page"]:focus {
			color: var(--sl-color-black);
			background-color: transparent;
		}
	}

	.right-sidebar {
		border-inline-start: 0;

		[aria-current="true"] {
			font-weight: 600;
			color: var(--sl-color-accent);
		}
	}

	.right-sidebar-panel {
		padding: 2rem var(--sl-sidebar-pad-x);

		h2 {
			font-weight: 400;
			color: var(--sl-color-black);
		}

		a,
		a:hover,
		a:focus {
			color: var(--sl-color-gray-6);
		}
	}

	// ================================================
	// Paginations
	// ================================================

	.pagination-links {
		a {
			color: var(--sl-color-text);
			border-color: var(--sl-color-gray-2);
			border-radius: var(--border-radius-md);
			box-shadow: none;
		}

		.link-title {
			color: var(--sl-color-black);
		}
	}

	// ================================================
	// Components
	// ================================================

	// Tabs
	// See: https://starlight.astro.build/guides/components/#tabs
	.tablist-wrapper {
		[role="tablist"] {
			border-bottom: 2px solid var(--sl-color-gray-2);
		}

		.tab > [role="tab"] {
			font-weight: 400;
			color: var(--sl-color-gray-7);
			border-bottom: 2px solid var(--sl-color-gray-2);

			&[aria-selected="true"] {
				color: var(--sl-color-gray-7);
				background-color: transparent;
				border-bottom-color: var(--sl-color-accent);
			}
		}
	}

	// Aside
	// See: https://starlight.astro.build/guides/components/#asides
	.starlight-aside {
		padding: 1.5rem;
		color: var(--sl-color-text);
		background-color: var(--sl-color-bg);
		border-block: 1px solid var(--sl-color-gray-3);
		border-inline-end: 1px solid var(--sl-color-gray-3);
		/* stylelint-disable-next-line alpha-value-notation, color-function-notation */
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

		&__title,
		&__icon {
			color: var(--sl-color-asides-text-accent);
		}

		&__title {
			margin-bottom: 1rem;
		}

		&__icon {
			font-size: 1em;
		}
	}
}
