@use '../../../packages/kubrick/scss/base';
@use '../../../packages/kubrick/scss/variables/colors' as colors;

/**
 * Site app.
 */
:root, ::backdrop {
	/**
	 * Accent colors
	 */
	--color-accent-high: #{colors.$accent-high};
	--color-accent-low: #{colors.$accent-low};
	--color-accent: #{colors.$accent};

	// Blue.
	--color-blue-high: #{colors.$blue-700};
	--color-blue-low: #{colors.$blue-50};
	--color-blue: #{colors.$blue-300};

	// Green.
	--color-green-high: #{colors.$green-700};
	--color-green-low: #{colors.$green-50};
	--color-green: #{colors.$green-300};

	// Red.
	--color-red-high: #{colors.$red-700};
	--color-red-low: #{colors.$red-50};
	--color-red: #{colors.$red-300};

	// Yellow.
	--color-yellow-high: #{colors.$yellow-700};
	--color-yellow-low: #{colors.$yellow-50};
	--color-yellow: #{colors.$yellow-300};

	/**
	 * Sizes
	 */
	--border-radius-sm: 3px;
	--border-radius-md: 6px;
	--border-radius-lg: 12px;
	--nav-height: 60px;
}
