@use '../../../packages/kubrick/scss/base';
@use '../../../packages/kubrick/scss/variables/colors' as colors;

/**
 * Site app.
 */
:root, ::backdrop {
	/**
	 * Accent colors
	 */
	--color-accent-high: #{colors.$accent-high};
	--color-accent-low: #{colors.$accent-low};
	--color-accent: #{colors.$accent};

	// Blue.
	--color-blue-high: #{colors.$blue-700};
	--color-blue-low: #{colors.$blue-50};
	--color-blue: #{colors.$blue-300};

	// Green.
	--color-green-high: #{colors.$green-700};
	--color-green-low: #{colors.$green-50};
	--color-green: #{colors.$green-300};

	// Red.
	--color-red-high: #{colors.$red-700};
	--color-red-low: #{colors.$red-50};
	--color-red: #{colors.$red-300};

	// Yellow.
	--color-yellow-high: #{colors.$yellow-700};
	--color-yellow-low: #{colors.$yellow-50};
	--color-yellow: #{colors.$yellow-300};

	/**
	 * Sizes
	 */
	--border-radius-sm: 3px;
	--border-radius-md: 6px;
	--border-radius-lg: 12px;
	--nav-height: 60px;
}

/**
 * Starlight app.
 */
:root[data-theme="light"], [data-theme='light'] ::backdrop {
	/**
	 * Base Colors.
	 */
	--sl-color-black: #{colors.$black};
	--sl-color-white: #{colors.$white};
	--sl-color-gray-1: #{colors.$gray-10};
	--sl-color-gray-2: #{colors.$gray-50};
	--sl-color-gray-3: #{colors.$gray-100};
	--sl-color-gray-4: #{colors.$gray-200};
	--sl-color-gray-5: #{colors.$gray-300};
	--sl-color-gray-6: #{colors.$gray-400};
	--sl-color-gray-7: #{colors.$gray-500};

	/**
	 * Accent Colors.
	 */
	--sl-color-accent-high: var(--color-accent-high);
	--sl-color-accent-low: var(--color-accent-low);
	--sl-color-accent: var(--color-accent);

	/**
	 * Color Schemes.
	 */
	--sl-color-blue-high: var(--color-blue-high);
	--sl-color-blue-low: var(--color-blue-low);
	--sl-color-blue: var(--color-blue);
	--sl-color-green-high: var(--color-green-high);
	--sl-color-green-low: var(--color-green-low);
	--sl-color-green: var(--color-green);
	--sl-color-red-high: var(--color-red-high);
	--sl-color-red-low: var(--color-red-low);
	--sl-color-red: var(--color-red);
	--sl-color-yellow-high: var(--color-yellow-high);
	--sl-color-yellow-low: var(--color-yellow-low);
	--sl-color-yellow: var(--color-yellow);

	/**
	 * UI Colors.
	 */
	--sl-color-bg-nav: #{colors.$gray-900};
	--sl-color-bg: var(--sl-color-white);
	--sl-color-text-accent: var(--sl-color-accent);
	--sl-color-text: var(--sl-color-black);
	--sl-icon-color: var(--sl-color-gray-7);

	/**
	 * Main navigation.
	 */
	--sl-nav-pad-y: 0.75rem;
	--sl-nav-pad-x: 1.5rem;
	--sl-nav-height: var(--nav-height);
}
