@use '../../scss/variables/colors';

.root {
  width: max-content;
  max-width: 320px;
	max-height: 160px;
  padding: 1rem;
	overflow-y: scroll;
	text-wrap: pretty;
	background: colors.$white;
	border: 1px solid colors.$gray-100;
	box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}
