/* stylelint-disable no-invalid-position-at-import-rule */
/* stylelint-disable selector-class-pattern */
@use "../packages/kubrick/scss/base";
@import '../wordpress/wp-includes/css/dashicons.min.css';
@import '../wordpress/wp-admin/css/common.min.css';
@import '../wordpress/wp-admin/css/edit.min.css';
@import '../wordpress/wp-includes/css/buttons.min.css';
@import "../wordpress/wp-admin/css/forms.min.css";

// Default.
.admin-color-modern {
	@import "../wordpress/wp-admin/css/colors/modern/colors";
}

.admin-color-blue {
	@import "../wordpress/wp-admin/css/colors/blue/colors";
}

.admin-color-coffee {
	@import "../wordpress/wp-admin/css/colors/coffee/colors";
}

.admin-color-ectoplasm {
	@import "../wordpress/wp-admin/css/colors/ectoplasm/colors";
}

.admin-color-light {
	@import "../wordpress/wp-admin/css/colors/light/colors";
}

.admin-color-midnight {
	@import "../wordpress/wp-admin/css/colors/midnight/colors";
}

.admin-color-ocean {
	@import "../wordpress/wp-admin/css/colors/ocean/colors";
}

.admin-color-sunrise {
	@import "../wordpress/wp-admin/css/colors/sunrise/colors";
}

.__wp-core-body__ {
	min-width: 600px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.4em;
	color: #3c434a;
	background: var(--kubrick-body-background-color);
}

// TODO: Remove this once there's a more reliable way to not affect the Storybook styles.
.docblock-argstable-body {
	input[type="checkbox"]:checked::before {
		display: none;
	}

	input[type="checkbox"], input[type="radio"] {
		box-shadow: none;
	}
}
