---
import { Actions } from "../components";
---

<h1 class="text-4xl sm:text-6xl font-bold tracking-tighter m-0">
	<span class="block">Good ol'</span>
	<span class="block">WordPress Admin Screen</span>
</h1>
<p
	class="text-base sm:text-lg leading-6 sm:leading-8 text-gray-600 w-10/12 mx-auto"
>
	Kubrick UI is an open-source React component library, designed as the building
	block to create custom WordPress admin applications with the good ol' classic
	styles.
</p>

<Actions />
