@use '../../scss/variables/colors';

.root {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: max-content;
	max-width: 100%;

	.label {
		display: flex;
		gap: 8px;

		input {
			flex-shrink: 0;
		}
	}

	.input[type="checkbox"] {
		margin: 0;
	}

	.description {
		color: colors.$input-description;
	}

	&.readOnly,
	.input:read-only {
		cursor: default;
	}

	&.disabled,
	.input:disabled {
		cursor: not-allowed;
	}

	.labelContent {
		display: flex;
		flex-direction: column;
		gap: 4px;

		@media screen and (width <= 782px) {
			padding-top: 3px;
		}
	}
}
